// Body Styles

body {
    font-family: var(--#{$prefix}font-family);
    font-size: rem-calc(16);
    font-weight: var(--#{$prefix}regular-font);
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100vw;

    .application-root {
        height: 100vh;
        overflow: auto;
        width: 100vw;
    }
}

.container-fluid {
    margin: 0 auto;
    max-width: var(--#{$prefix}max-page-width);
    padding-left: var(--#{$prefix}padding-left);
    padding-right: var(--#{$prefix}padding-right);
    width: 100%;
}

.img-responsive {
    display: block;
    width: 100%;
}
