// Body Styles
body {
    font-family: var(--#{$prefix}font-family);
    font-size: rem-calc(16);
    font-weight: var(--#{$prefix}regular-font);
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100vw;

    .application-root {
        height: 100vh;
        overflow-y: overlay;
        overflow-x: hidden;
        position: relative;
        scroll-behavior: smooth;
        width: 100vw;
        z-index: 2;
    }
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--#{$prefix}max-page-width);
    padding-left: var(--#{$prefix}padding-left);
    padding-right: var(--#{$prefix}padding-right);
    width: 100%;
}

.img-responsive {
    display: block;
    width: 100%;
}

.rounded-box {
    --rounded-box: #{$border-radius};
    background: $form-bg;
    padding: rem-calc(24);
}

p {
    margin-bottom: rem-calc(24);
}
