
.side-nav-grid {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 5fr;
    gap: 1.5rem;

    .side-nav {
        display: block;
        grid-area: "sidebar";
        height: 70vh;
        overflow-y: auto;

        &.sticky {
            bottom: $footer-height;
            position: sticky;
            top: $header-height;
        }

        .nav {

            .nav-item {
                display: block;
                
                &.footer-item {
                    margin-top: rem-calc(24);
                }
            }
        }
    }

    .side-nav-grid-content {
        grid-area: "main";
    }
}
