a {
    color: $primary;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    transition-property: color;

    &:hover,
    &:focus,
    &:active {
        color: $primary-drk;
        text-decoration: underline;
    }
}
//.anchor-link:focus,.anchor-link:hover,:hover>.anchor-link,:target>.anchor-link {

.anchor-link {
    opacity: 0;
    padding-left: rem-calc(8);

    &:focus,
    &:hover,
    h2:hover &,
    h2:target & {
        color: $primary;
        opacity: 1;
    }

    &:after {
        content: "#";
    }
}

p {
    line-height: rem-calc(32);
    margin-bottom: rem-calc(24);
}

.text-light {
    font-family: var(--#{$prefix}font-family);
    font-weight: var(--#{$prefix}light-font);
}

.text-regular {
    font-family: var(--#{$prefix}font-family);
    font-weight: var(--#{$prefix}regular-font);
}

.text-medium {
    font-family: var(--#{$prefix}font-family);
    font-weight: var(--#{$prefix}medium-font);
}

.text-bold,
strong {
    font-family: var(--#{$prefix}font-family);
    font-weight: var(--#{$prefix}bold-font);
}
