// Scrollbar Styles

// ::-webkit-scrollbar {
// }

::-webkit-scrollbar-button {
    background: #00ff00;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-track-piece {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #ff0000;
}

// ::-webkit-scrollbar-corner {
// }

// ::-webkit-resizer {
// }
