@use "sass:map";
@use "sass:meta";

@use "../includes/variables" as v;
@use "../includes/maps" as m;
@use "../includes/mixins/" as mi;

$utilities: () !default;

$utilities: map.merge(
    (
        "display": (
            responsive: true,
            print: true,
            property: display,
            class: d,
            values: inline inline-block block grid inline-grid table table-row table-cell flex inline-flex none
        ),
        "position": (
            property: position,
            values: static relative absolute fixed sticky
        ),
        "border": (
            property: border,
            values: (
                null: var(--#{v.$prefix}border-width) var(--#{v.$prefix}border-style) var(--#{v.$prefix}border-color),
                0: 0,
            )
        ),
        "border-top": (
            property: border-top,
            values: (
                null: var(--#{v.$prefix}border-width) var(--#{v.$prefix}border-style) var(--#{v.$prefix}border-color),
                0: 0,
            )
        ),
        "border-end": (
            property: border-right,
            class: border-end,
            values: (
                null: var(--#{v.$prefix}border-width) var(--#{v.$prefix}border-style) var(--#{v.$prefix}border-color),
                0: 0,
            )
        ),
        "border-bottom": (
            property: border-bottom,
            values: (
                null: var(--#{v.$prefix}border-width) var(--#{v.$prefix}border-style) var(--#{v.$prefix}border-color),
                0: 0,
            )
        ),
        "border-start": (
            property: border-left,
            class: border-start,
            values: (
                null: var(--#{v.$prefix}border-width) var(--#{v.$prefix}border-style) var(--#{v.$prefix}border-color),
                0: 0,
            )
        ),
        "border-color": (
            property: border-color,
            class: border,
            local-vars: (
                "border-opacity": 1
            ),
            values: m.$utilities-border-colors
        ),
        "subtle-border-color": (
            property: border-color,
            class: border,
            values: m.$utilities-border-subtle
        ),
        "border-width": (
            property: border-width,
            class: border,
            values:v.$border-widths
        ),
        "margin-top": (
            responsive: true,
            property: margin-top,
            class: mt,
            values: map.merge(v.$spacers, (auto: auto))
        ),
        "margin-end": (
            responsive: true,
            property: margin-right,
            class: me,
            values: map.merge(v.$spacers, (auto: auto))
        ),
        "margin-bottom": (
            responsive: true,
            property: margin-bottom,
            class: mb,
            values: map.merge(v.$spacers, (auto: auto))
        ),
        "margin-start": (
            responsive: true,
            property: margin-left,
            class: ms,
            values: map.merge(v.$spacers, (auto: auto))
        ),
        "rounded": (
            property: border-radius,
            class: rounded,
            values: (
                null: var(--#{v.$prefix}border-radius),
                0: 0,
                1: var(--#{v.$prefix}border-radius-sm),
                2: var(--#{v.$prefix}border-radius),
                3: var(--#{v.$prefix}border-radius-lg),
                4: var(--#{v.$prefix}border-radius-xl),
                5: var(--#{v.$prefix}border-radius-xxl),
                circle: 50%,
                pill: var(--#{v.$prefix}border-radius-pill)
            )
        ),
        "rounded-top": (
            property: border-top-left-radius border-top-right-radius,
            class: rounded-top,
            values: (
                null: var(--#{v.$prefix}border-radius),
                0: 0,
                1: var(--#{v.$prefix}border-radius-sm),
                2: var(--#{v.$prefix}border-radius),
                3: var(--#{v.$prefix}border-radius-lg),
                4: var(--#{v.$prefix}border-radius-xl),
                5: var(--#{v.$prefix}border-radius-xxl),
                circle: 50%,
                pill: var(--#{v.$prefix}border-radius-pill)
            )
        ),
        "rounded-end": (
            property: border-top-right-radius border-bottom-right-radius,
            class: rounded-end,
            values: (
                null: var(--#{v.$prefix}border-radius),
                0: 0,
                1: var(--#{v.$prefix}border-radius-sm),
                2: var(--#{v.$prefix}border-radius),
                3: var(--#{v.$prefix}border-radius-lg),
                4: var(--#{v.$prefix}border-radius-xl),
                5: var(--#{v.$prefix}border-radius-xxl),
                circle: 50%,
                pill: var(--#{v.$prefix}border-radius-pill)
            )
        ),
        "rounded-bottom": (
            property: border-bottom-right-radius border-bottom-left-radius,
            class: rounded-bottom,
            values: (
                null: var(--#{v.$prefix}border-radius),
                0: 0,
                1: var(--#{v.$prefix}border-radius-sm),
                2: var(--#{v.$prefix}border-radius),
                3: var(--#{v.$prefix}border-radius-lg),
                4: var(--#{v.$prefix}border-radius-xl),
                5: var(--#{v.$prefix}border-radius-xxl),
                circle: 50%,
                pill: var(--#{v.$prefix}border-radius-pill)
            )
        ),
        "rounded-start": (
            property: border-bottom-left-radius border-top-left-radius,
            class: rounded-start,
            values: (
                null: var(--#{v.$prefix}border-radius),
                0: 0,
                1: var(--#{v.$prefix}border-radius-sm),
                2: var(--#{v.$prefix}border-radius),
                3: var(--#{v.$prefix}border-radius-lg),
                4: var(--#{v.$prefix}border-radius-xl),
                5: var(--#{v.$prefix}border-radius-xxl),
                circle: 50%,
                pill: var(--#{v.$prefix}border-radius-pill)
            )
        ),
        "text-align": (
            responsive: true,
            property: text-align,
            class: text,
            values: (
                left: left,
                right: right,
                center: center,
            )
        ),
        "text-decoration": (
            property: text-decoration,
            values: none underline line-through
        ),
        "text-transform": (
            property: text-transform,
            class: text,
            values: lowercase uppercase capitalize
        ),
        "white-space": (
        property: white-space,
            class: text,
            values: (
                wrap: normal,
                nowrap: nowrap,
            )
        ),
        "word-wrap": (
            property: word-wrap word-break,
            class: text,
            values: (break: break-word),
            rtl: false
        ),
        "color": (
            property: color,
            class: text,
            local-vars: (
                "text-opacity": 1
            ),
            values: map.merge(
                m.$utilities-text-colors,
                (
                    "body-secondary": var(--#{v.$prefix}secondary-color),
                    "body-tertiary": var(--#{v.$prefix}tertiary-color),
                    "body-emphasis": var(--#{v.$prefix}emphasis-color),
                    "reset": inherit,
                )
            )
        ),
        "text-color": (
            property: color,
            class: text,
            values: m.$utilities-text-emphasis-colors
        ),
        "link-underline": (
            property: text-decoration-color,
            class: link-underline,
            local-vars: (
                "link-underline-opacity": 1
            ),
            values: map.merge(
                m.$utilities-links-underline,
                (
                    null: rgba(var(--#{v.$prefix}link-color-rgb), var(--#{v.$prefix}link-underline-opacity, 1)),
                )
            )
        ),
        "bg-opacity": (
            css-var: true,
            class: bg-opacity,
            values: (
                10: .1,
                25: .25,
                50: .5,
                75: .75,
                100: 1
            )
        ),
        "subtle-background-color": (
            property: background-color,
            class: bg,
            values: m.$utilities-bg-subtle
        ),
        // scss-docs-end utils-bg-color
        "gradient": (
            property: background-image,
            class: bg,
            values: (gradient: var(--#{v.$prefix}gradient))
        ),
        "visibility": (
            property: visibility,
            class: null,
            values: (
                visible: visible,
                hidden: hidden,
            )
        ),
    ),
    $utilities
);

@each $key, $utility in $utilities {
    @if meta.type-of($utility) == "map" {
        @include mi.generate-utility($utility, "");
    }
}
