@mixin mq-and-above($breakpoint) {
  // Check if breakpoint exists in map
  @if map-has-key($grid-breakpoints, $breakpoint) {
    $value: map-get($grid-breakpoints, $breakpoint);

    @media screen and (min-width: $value) {
      @content; // Content block to include
    }
  } @else {
    @warn "Invalid breakpoint: #{$breakpoint}.";
  }
}

@mixin mq-and-below($breakpoint) {
    // Check if breakpoint exists in map
  @if map-has-key($grid-breakpoints, $breakpoint) {
    $value: map-get($grid-breakpoints, $breakpoint) - 1;

    @media screen and (max-width: $value) {
      @content; // Content block to include
    }
  } @else {
    @warn "Invalid breakpoint: #{$breakpoint}.";
  }
}

@mixin mq-only($min, $max) {
    // Check if breakpoint exists in map
  @if map-has-key($grid-breakpoints, $min) {
    $value: map-get($grid-breakpoints, $min);
    $value2: map-get($grid-breakpoints, $max) - 1;

    @media screen and (min-width: $value) and (max-width: $value2) {
      @content; // Content block to include
    }
  } @else {
    @warn "Invalid breakpoint: #{$min} or #{$max}.";
  }
}
