@mixin break-and-below($breakpoint) {
  // Retrieve the value from the map
  $value: map-get($grid-breakpoints, $breakpoint);

  @if $value {
    @media (max-width: $value) {
      @content; // Content is injected here
    }
  } @else {
    @warn "Breakpoint #{$breakpoint} not found in map.";
  }
}

@mixin break-and-above($breakpoint) {
  // Retrieve the value from the map
  $value: map-get($grid-breakpoints, $breakpoint);

  @if $value {
    @media (min-width: $value) {
      @content; // Content is injected here
    }
  } @else {
    @warn "Breakpoint #{$breakpoint} not found in map.";
  }
}

@mixin between-($min, $max) {
  // Retrieve the value from the map
  $value: map-get($grid-breakpoints, $min);

  @if $value {
    @media (min-width: $value) and (max-value: $max) {
      @content; // Content is injected here
    }
  } @else {
    @warn "Breakpoint #{$min} not found in map.";
  }
}
