@use "../includes/variables" as v;
@use "../includes/functions" as f;
@use "../includes/mixins" as mi;

footer {
    align-items: center;
    flex-shrink: 0;
    min-height: v.$footer-height-sm;
    margin-top: 0;

    @include mi.mq-and-above('md') {
        min-height: v.$footer-height;
    }

    .container {
        max-width: 100%;
        padding-left: f.rem-calc(12);
        padding-right: f.rem-calc(12);
    }
}
