footer {
    align-items: center;
    flex-shrink: 0;
    min-height: $footer-height-sm;
    margin-top: 0;

    @include mq-and-above('md') {
        min-height: $footer-height;
    }

    .container {
        max-width: 100%;
        padding-left: rem-calc(12);
        padding-right: rem-calc(12);
    }
}
