header {
    z-index: 1000;
    height: $header-height-sm;
    transition: height 0.5s ease-in-out;

    .container {
        margin: 0;
        max-width: 100%;
        width: 100%;

        @include mq-and-above('md') {
            margin-left: auto;
            margin-right: auto;
        }
    }

    @include mq-and-above('md') {
        height: $header-height;
    }

    &:not(.slim) {
        .logo {
            height: $header-height-sm;

            @include mq-and-above('md') {
                height: $header-height;
            }
        }
    }

    .full-logo {
        display: none;
        height: $header-height-sm;
        opacity: 0;
        transition: opacity 0.5s ease-in;
        width: auto;

        @include mq-and-above('md') {
            display: flex;
            height: $header-height;
            opacity: 1;
        }
    }

    .mini-logo {
        display: flex;
        min-height: $slim-logo-height;
        opacity: 1;
        transition: opacity 0.5s ease-out;
        min-width: $slim-logo-width;

        @include mq-and-above('md') {
            display: none;
            opacity: 1;
        }
    }

    &.slim {
        height: $slim-logo-height + (rem-calc(12) * 2) !important;

        .logo {
            min-height: $slim-logo-height;
        }

        .full-logo {
            display: none;
            opacity: 0;
            transition: opacity 0.5s ease-out;
            // 280x114
        }

        .mini-logo {
            display: flex;
            min-height: $slim-logo-height;
            opacity: 1;
            transition: opacity 0.5s ease-in;
            min-width: $slim-logo-width;
            // 63x50
        }
    }

    .navigation {

        .nav-items {
            background: rgb(17 24 39 / var(--tw-bg-opacity));
            display: block;

            @include mq-and-above('md') {
                background: none;
                display: flex;
            }

            .nav-item {

                @include mq-and-above('md') {
                    margin-right: rem-calc(8);

                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
