@use "../../includes/variables" as v;
@use "../../includes/variables/forms/" as vf;
@use "../../includes/mixins" as mi;
@use "../../includes/functions" as f;

.form-input {
    // background: $input-bg-color;
    background: transparent;
    border: none;
    border-radius: vf.$input-border-radius;
    @include mi.box-shadow(inset 0 0 0 vf.$input-border-width vf.$input-border-color);
    font-size: vf.$input-font-size;
    outline: none;
    padding: vf.$input-padding-y vf.$input-padding-x;
    position: relative;
    transition: all 0.5s ease-in;
    transition-property: box-shadow, background;
    z-index: 2;

    &::placeholder {
        color: transparent;
        opacity: 0;
    }

    & ~ .form-label {
        align-self: center;
        bottom: 0;
        height: vf.$input-max-height;
        margin-left: vf.$input-padding-x;
        margin-right: vf.$input-padding-x;
        position: absolute;
        top: 0;
        transition: all 0.25s ease-in;
        transition-property: color, font-size, top;
        z-index: 3;
    }

    &:focus,
    &:active,
    &:focus-visible,
    &.has-value {
        // background: $input-hover-bg-color;
        border: none;
        border-radius: vf.$input-hover-border-radius;
        @include mi.box-shadow(inset 0 0 0 vf.$input-hover-border-width vf.$input-hover-border-color);

        & ~ .form-label {
            background: rgba(v.$form-bg, 1);
            bottom: auto;
            color: vf.$form-label-active-color;
            font-size: vf.$form-label-active-size;
            height: auto;
            padding: 0 f.rem-calc(4);
            top: f.rem-calc(-8);
        }
    }
}
