.homepage {

    .info {
        display: none;

        &.show {
            display: block;
        }
    }

    .profile-photo {
        border-radius: rem-calc(500);
        display: block;
        height: 70%;
        margin: 0 auto;
        max-height: rem-calc(443);
        max-width: rem-calc(443);
        overflow: hidden;
        width: 70%;
    }

    .page-home {

        &:hover,
        &:focus,
        &:active {
            color: var(--#{$prefix}tetrad-primary);
        }
    }

    .info-home {

        h1 {
            color: var(--#{$prefix}tetrad-primary-text);
        }
    }

    .page-about {

        &:hover,
        &:focus,
        &:active {
            color: var(--#{$prefix}warning);
        }
    }

    .info-about {

        h1 {
            color: var(--#{$prefix}warning);
        }
    }

    .page-works {

        &:hover,
        &:focus,
        &:active {
            color: var(--#{$prefix}tetrad-tertiary);
        }
    }

    .info-works {

        h1 {
            color: var(--#{$prefix}success);
        }
    }

    .page-skills {

        &:hover,
        &:focus,
        &:active {
            color: var(--#{$prefix}hue-primary-6);
        }
    }

    .info-skills {

        h1 {
            color: var(--#{$prefix}hue-primary-6);
        }
    }

    .page-contact {

        &:hover,
        &:focus,
        &:active {
            color: var(--#{$prefix}tetrad-minor);
        }
    }

    .info-contact {

        h1 {
            color: var(--#{$prefix}tetrad-minor);
        }
    }
}
