.home-loader {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.homepage {

    .info {
        display: none;

        &.show {
            display: block;
        }
    }

    .profile-photo {
        border-radius: rem-calc(500);
        display: block;
        height: 80%;
        margin: 0 auto;
        max-height: rem-calc(354);
        max-width: rem-calc(354);
        overflow: hidden;
        width: 80%;
    }

    .page-home {

        &:hover,
        &:focus,
        &:active {
            --#{$prefix}link-animation-bg: var(--#{$prefix}tetrad-primary);
            color: var(--#{$prefix}tetrad-primary);
        }
    }

    .info-home {

        h1 {
            color: var(--#{$prefix}tetrad-primary-text);
        }
    }

    .page-about {

        &:hover,
        &:focus,
        &:active {
            --#{$prefix}link-animation-bg: var(--#{$prefix}warning);
            color: var(--#{$prefix}warning);
        }
    }

    .info-about {

        h1 {
            color: shade-color($warning, 15%);
        }
    }

    .page-works {

        &:hover,
        &:focus,
        &:active {
            --#{$prefix}link-animation-bg: var(--#{$prefix}tetrad-tertiary);
            color: var(--#{$prefix}tetrad-tertiary);
        }
    }

    .info-works {

        h1 {
            color: var(--#{$prefix}success);
        }
    }

    .page-skills {

        &:hover,
        &:focus,
        &:active {
            --#{$prefix}link-animation-bg: var(--#{$prefix}tetrad-minor);
            color: var(--#{$prefix}tetrad-minor);
        }
    }

    .info-skills {

        h1 {
            color: var(--#{$prefix}tetrad-minor);
        }
    }

    .page-contact {

        &:hover,
        &:focus,
        &:active {
            --#{$prefix}link-animation-bg: var(--#{$prefix}hue-primary-6);
            color: var(--#{$prefix}hue-primary-6);
        }
    }

    .info-contact {

        h1 {
            color: var(--#{$prefix}hue-primary-6);
        }
    }

    .works-description {
        width: 45%;
    }
}
