.home-loader {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.homepage {

    .logo {
        height: $header-height-sm;
        margin-top: rem-calc(12);

        .home-logo {
            height: $header-height-sm;
            width: auto;

            @include mq-and-above('md') {
                height: $header-height;
                width: auto;
            }
        }

        @include mq-and-above('md') {
            margin-top: 0;
        }

        img {
            height: auto;
            object-fit: cover;
            width: 100%;
        }

        @include mq-and-above('md') {
            height: $header-height;
        }
    }

    .mobile-home-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .mobile-nav {
            align-self: flex-end;
        }
    }

    .mobile-nav {
        position: relative;

        summary {
            &:marker,
            &::marker {
                display: none !important;
                content: '' !important;
            }
        }
        
        .dropdown-content {
            background: tint-color($black, 10%);
        }

        .nav-items {
            
            .nav-item {
                margin-bottom: rem-calc(4);

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    .info {
        display: none;

        &.show {
            display: block;
        }
    }

    .profile-photo {
        border-radius: rem-calc(500);
        display: block;
        height: 80%;
        margin: 0 auto;
        max-height: rem-calc(250);
        max-width: rem-calc(250);
        overflow: hidden;
        width: 60%;
        
        @include mq-and-above('md') {
            max-height: rem-calc(354);
            max-width: rem-calc(354);
            width: 80%;
        }
    }

    .page-home {

        &:hover,
        &:focus,
        &:active {
            --#{$prefix}link-animation-bg: var(--#{$prefix}tetrad-primary);
            color: var(--#{$prefix}tetrad-primary);
        }
    }

    .info-home {

        h1 {
            color: var(--#{$prefix}tetrad-primary-text);
        }
    }

    .page-about {

        &:hover,
        &:focus,
        &:active {
            --#{$prefix}link-animation-bg: var(--#{$prefix}warning);
            color: var(--#{$prefix}warning);
        }
    }

    .info-about {

        h1 {
            color: shade-color($warning, 15%);
        }
    }

    .page-works {

        &:hover,
        &:focus,
        &:active {
            --#{$prefix}link-animation-bg: var(--#{$prefix}tetrad-tertiary);
            color: var(--#{$prefix}tetrad-tertiary);
        }
    }

    .info-works {

        h1 {
            color: var(--#{$prefix}success);
        }
    }

    .page-skills {

        &:hover,
        &:focus,
        &:active {
            --#{$prefix}link-animation-bg: var(--#{$prefix}tetrad-minor);
            color: var(--#{$prefix}tetrad-minor);
        }
    }

    .info-skills {

        h1 {
            color: var(--#{$prefix}tetrad-minor);
        }
    }

    .page-contact {

        &:hover,
        &:focus,
        &:active {
            --#{$prefix}link-animation-bg: var(--#{$prefix}hue-primary-6);
            color: var(--#{$prefix}hue-primary-6);
        }
    }

    .info-contact {

        h1 {
            color: var(--#{$prefix}hue-primary-6);
        }
    }

    .works-description {
        width: 100%;

        @include mq-and-below('md-and-up') {
            width: 45%;
        }
    }
}
