[data-theme="customLight"] {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #ff2577;
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: #25ffad;
  --color-secondary-content: oklch(12% 0.042 264.695);
  --color-accent: #ffd925;
  --color-accent-content: oklch(12% 0.042 264.695);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: #1cafff;
  --color-info-content: oklch(12% 0.042 264.695);
  --color-success: #00eb88;
  --color-success-content: oklch(12% 0.042 264.695);
  --color-warning: #ffd925;
  --color-warning-content: oklch(12% 0.042 264.695);
  --color-error: #f0513f;
  --color-error-content: oklch(12% 0.042 264.695);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

// @plugin "daisyui/theme" {
//   name: "light";
//   default: false;
//   prefersdark: false;
//   color-scheme: "light";
//   --color-base-100: oklch(98% 0.003 247.858);
//   --color-base-200: oklch(98% 0 0);
//   --color-base-300: oklch(95% 0 0);
//   --color-base-content: oklch(21% 0.006 285.885);
//   --color-primary: #ff2577;
//   --color-primary-content: oklch(98% 0.003 247.858);
//   --color-secondary: #25ffad;
//   --color-secondary-content: oklch(12% 0.042 264.695);
//   --color-accent: #ffd925;
//   --color-accent-content: oklch(12% 0.042 264.695);
//   --color-neutral: oklch(14% 0.005 285.823);
//   --color-neutral-content: oklch(98% 0.003 247.858);
//   --color-info: #1cafff;
//   --color-info-content: oklch(12% 0.042 264.695);
//   --color-success: #00eb88;
//   --color-success-content: oklch(12% 0.042 264.695);
//   --color-warning: #ffd925;
//   --color-warning-content: oklch(12% 0.042 264.695);
//   --color-error: #f0513f;
//   --color-error-content: oklch(12% 0.042 264.695);
//   --radius-selector: 0.5rem;
//   --radius-field: 0.25rem;
//   --radius-box: 0.5rem;
//   --size-selector: 0.25rem;
//   --size-field: 0.25rem;
//   --border: 1px;
//   --depth: 1;
//   --noise: 0;
// }
