@import '../includes/includes';

.work-card-container {
    display: flex;
    flex-wrap: wrap;
    // gap: rem-calc(12);
    justify-content: flex-start;
    .card {
        overflow: hidden;
        width: 100%;
        img {
            height: auto;
            width: 100%;
        }
        @include mq-and-above('md') {
            width: calc(50% - 6px);
        }
    }
}
