@import '../includes/includes';

.work-container,
.school-container {

    h3 {
        display: block;
        width: 100%;

        @include mq-and-above('md') {
            align-items: center;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        .work-dates {
            color: $secondary;
            display: block;
            font-size: rem-calc(13);
            text-transform: uppercase;

            @include mq-and-above('md') {
                display: inherit;
            }
        }
    }
}

.icon {
    fill: $white;
}

.links {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: rem-calc(24);
    justify-content: flex-start;
    margin: rem-calc(20) 0;
}
