:root {
    // Tailwind Var Overrides
    --foreground-rgb: #{hexToRGB($white)};
    --background-start-rgb: #{hexToRGB(lighten($black, 5%))};
    --background-end-rgb: #{hexToRGB(lighten($black, 10%))};

    --#{$prefix}max-page-width: #{rem-calc($max-page-width)};
    --#{$prefix}padding-left: #{math.div(rem-calc($container-padding), 2)};
    --#{$prefix}padding-right: #{math.div(rem-calc($container-padding), 2)};
    --#{$prefix}bg-opacity: #{$bg-opacity};
    --#{$prefix}border-width: #{$border-width};
    --#{$prefix}border-style: #{$border-style};
    --#{$prefix}border-color: #{$border-color};
    --#{$prefix}border-color-translucent: #{$border-color-translucent};

    --#{$prefix}light-font: #{$light-font};
    --#{$prefix}regular-font: #{$regular-font};
    --#{$prefix}medium-font: #{$medium-font};
    --#{$prefix}bold-font: #{$bold-font};

    --#{$prefix}border-radius-sm: #{$border-radius-sm};
    --#{$prefix}border-radius: #{$border-radius};
    --#{$prefix}border-radius-lg: #{$border-radius-lg};
    --#{$prefix}border-radius-xl: #{$border-radius-xl};
    --#{$prefix}border-radius-xxl: #{$border-radius-xxl};

    --#{prefix}link-animation-stroke: #{$link-animation-stroke};
    --#{prefix}link-animation-bg: #{$link-animation-bg};

    @each $color, $value in $theme-colors {
        --#{$prefix}#{$color}: #{$value};
    }

    @each $color, $value in $theme-colors-rgb {
        --#{$prefix}#{$color}-rgb: #{$value};
    }

    @each $color, $value in $theme-colors {
        --#{$prefix}#{$color}-text-emphasis: #{shade-color($value, $emphasis)};
    }

    @each $color, $value in $theme-colors {
        --#{$prefix}#{$color}-bg-subtle: #{tint-color($value, $subtle-bg)};
    }

    @each $color, $value in $theme-colors {
        --#{$prefix}#{$color}-border-subtle: #{tint-color($value, $subtle-border)};
    }

    @each $color, $value in $grayscale {
        --#{$prefix}#{$color}: #{$value};
    }

    @each $color, $value in $grayscale-rgb {
        --#{$prefix}#{$color}-rgb: #{$value};
    }
}
