$form-label-size:          rem-calc(16);
$form-label-color:         $gray-45;
$form-label-font-weight:   $font-weight-medium;

$form-label-active-color:  $primary;
$form-label-active-size:   rem-calc(12);
