.form-input {
    // background: $input-bg-color;
    background: transparent;
    border: none;
    border-radius: $input-border-radius;
    @include box-shadow(inset 0 0 0 $input-border-width $input-border-color);
    font-size: $input-font-size;
    outline: none;
    padding: $input-padding-y $input-padding-x;
    position: relative;
    transition: all 0.5s ease-in;
    transition-property: box-shadow, background;
    z-index: 2;

    &::placeholder {
        color: transparent;
        opacity: 0;
    }

    & ~ .form-label {
        align-self: center;
        bottom: 0;
        height: $input-max-height;
        margin-left: $input-padding-x;
        margin-right: $input-padding-x;
        position: absolute;
        top: 0;
        transition: all 0.25s ease-in;
        transition-property: color, font-size, top;
        z-index: 3;
    }

    &:focus,
    &:active,
    &:focus-visible,
    &.has-value {
        // background: $input-hover-bg-color;
        border: none;
        border-radius: $input-hover-border-radius;
        @include box-shadow(inset 0 0 0 $input-hover-border-width $input-hover-border-color);

        & ~ .form-label {
            background: rgba($form-bg, 1);
            bottom: auto;
            color: $form-label-active-color;
            font-size: $form-label-active-size;
            height: auto;
            padding: 0 rem-calc(4);
            top: rem-calc(-8);
        }
    }
}
