
.form-label {
    align-items: center;
    color: $form-label-color;
    display: flex;
    font-weight: $form-label-font-weight;
    font-size: $form-label-size;
    max-height: $input-max-height;
    position: inherit;
    z-index: 1;
}
